[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
supabase = "*"
openfoodfacts = "*"
osmpythontools = "*"
django = "*"
django-bootstrap5 = "*"
django-environ = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-tables2 = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pygraphviz = "*"

[requires]
python_version = "3.9"
