{% load static %}

<div class="modal fade" id="scan_product_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Scan a barcode with your camera<br />
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="reader" width="500px"></div>
            </div>
            <div class="modal-footer">
                <span class="text-muted">powered by <a href="https://github.com/mebjas/html5-qrcode" target="_blank">html5-qrcode</a></span>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="{% static "js/html5-qrcode@2.3.8.min.js" %}"></script>
<script type="text/javascript">
function onScanSuccess(decodedText, decodedResult) {
  console.log(`Code matched = ${decodedText}`, decodedResult);
  // update price form
  document.getElementById("id_product_code").value = decodedText;
  // close modal
  var modalElement = document.getElementById("scan_product_modal");
  var modal = bootstrap.Modal.getInstance(modalElement);
  modal.hide();
}

function onScanFailure(error) {
//   console.warn(`Code scan error = ${error}`);
}

let config = {
  fps: 10,
  qrbox: {width: 250, height: 150},
  rememberLastUsedCamera: true,
  // Only support camera scan type.
  supportedScanTypes: [Html5QrcodeScanType.SCAN_TYPE_CAMERA]
};

const formatsToSupport = [
    Html5QrcodeSupportedFormats.QR_CODE,
    Html5QrcodeSupportedFormats.EAN_13,
];

let html5QrcodeScanner = new Html5QrcodeScanner(
  "reader",
  config,
  formatsToSupport,
  /* verbose= */ false);

document.addEventListener("DOMContentLoaded", function() {
    var modalElement = document.getElementById("scan_product_modal");
    modalElement.addEventListener("shown.bs.modal", function (event) {
        html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    });
    modalElement.addEventListener("hidden.bs.modal", function (event) {
        html5QrcodeScanner.clear();
    });
});
</script>
