<div class="modal fade" id="search_location_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search a location in OSM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="text" name="location_osm" id="id_location_osm" class="form-control is-invalid" placeholder="Location search" required>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary" onclick="nominatimSearch()">Search</button>
                    </div>
                </div>
                <section id="location_osm_search_results" class="mt-sm-3"></section>
                <section id="location_osm_recent_locations" class="mt-3"></section>
            </div>
            <div class="modal-footer">
                <span class="text-muted">powered by <a href="https://nominatim.openstreetmap.org" target="_blank">Nominatim</a></span>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
RECENT_LOCATIONS_LOCALSTORAGE_ITEM_KEY = "recentLocations";

function selectResult(locationText, locationOSMID) {
    var modalElement = document.getElementById("search_location_modal");

    // update price form
    document.getElementById("id_location_name").value = locationText;
    document.getElementById("id_location_osm_id").value = locationOSMID;
    // add to localStorage
    addObjectToLocalStorageItemList(RECENT_LOCATIONS_LOCALSTORAGE_ITEM_KEY, {"display_name": locationText, "osm_id": locationOSMID});
    // close modal
    var modal = bootstrap.Modal.getInstance(modalElement);
    modal.hide();
}

function createSearchResultListElement(locationText, locationOSMID) {
    var li = document.createElement("li");
    li.id = locationOSMID;
    li.title = locationText;
    li.style.cursor = "pointer";
    li.innerHTML = `📍 ${locationText}`;
    li.addEventListener("click", function (event) {
        selectResult(locationText, locationOSMID);
    });
    return li;
}

function populateRecentLocations() {
    const recentLocations = getParsedLocalStorageItem("recentLocations");
    var recentLocationsElement = document.getElementById("location_osm_recent_locations");

    // init
    recentLocationsElement.innerHTML = "";

    if (recentLocations.length) {
        var hr = document.createElement("hr");
        recentLocationsElement.appendChild(hr);

        var ul = document.createElement("ul");
        for (var i = 0; i < recentLocations.length; ++i) {
            var li = createSearchResultListElement(recentLocations[i].display_name, recentLocations[i].osm_id);
            ul.appendChild(li);
        }
        recentLocationsElement.appendChild(ul);

        var clearButton = document.createElement("button");
        clearButton.innerHTML = "Clear recent";
        clearButton.classList.add("btn", "btn-sm", "btn-outline-primary");
        clearButton.onclick = clearRecentLocations;
        recentLocationsElement.appendChild(clearButton);
    } else {
        var hr = document.createElement("hr");
        recentLocationsElement.appendChild(hr);

        var p = document.createElement("p");
        p.innerHTML = "no recent locations";
        recentLocationsElement.innerHTML = "";
        recentLocationsElement.appendChild(p);
    }
}

function clearRecentLocations() {
    var recentLocationsElement = document.getElementById("location_osm_recent_locations");
    recentLocationsElement.innerHTML = "";
    clearLocalStorageItem(RECENT_LOCATIONS_LOCALSTORAGE_ITEM_KEY);
}

async function nominatimSearch() {
    var searchInputElement = document.getElementById("id_location_osm");
    var searchResultsElement = document.getElementById("location_osm_search_results");

    // init
    searchResultsElement.innerHTML = "";

    if (searchInputElement.value.length) {
        const response = await fetch(`https://nominatim.openstreetmap.org/search?q=${searchInputElement.value}&format=json&limit=5`);
        const locations = await response.json();
        if (locations.length) {
            var ul = document.createElement("ul");
            for (var i = 0; i < locations.length; ++i) {
                var li = createSearchResultListElement(locations[i].display_name, locations[i].osm_id);
                ul.appendChild(li);
            }
            searchResultsElement.appendChild(ul);
        } else {
            var p = document.createElement("p");
            p.innerHTML = "no results found";
            searchResultsElement.append(p);
        }
    }
}

document.addEventListener("DOMContentLoaded", function() {
    var modalElement = document.getElementById("search_location_modal");
    var searchInputElement = document.getElementById("id_location_osm");

    // focus input
    modalElement.addEventListener("shown.bs.modal", function (event) {
        searchInputElement.focus();
        populateRecentLocations();
    });

    searchInputElement.onkeydown = function(event) {
        if(event.keyCode == 13) {
            nominatimSearch()
        }
    };
});
</script>
