{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}

{% block title %}Add a price{{ block.super }}{% endblock %}

{% block content %}
<h1 class="mb-3">Add a price</h1>

<form id="price_create_form" method="POST" action="">
    {% csrf_token %}

    <h5>
        🏷 Product details
        <a href="#" class="btn btn-sm btn-outline-primary ml-3" data-bs-toggle="modal" data-bs-target="#scan_product_modal" data-bs-backdrop="static">Scan a barcode</a>
    </h5>
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.product_code show_label=False %}
        </div>
    </div>

    <h5>💲 Product price</h5>
    <div class="row">
        <div class="col-8 col-sm-4">
            {% bootstrap_field form.price show_label=False %}
        </div>
        <div class="col-4 col-sm-2">
            {% bootstrap_field form.currency show_label=False %}
        </div>
    </div>

    <h5>
        🌍 Location
        <a href="#" class="btn btn-sm btn-outline-primary ml-3" data-bs-toggle="modal" data-bs-target="#search_location_modal" data-bs-backdrop="static">Search in OSM</a>
    </h5>
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.location_osm_id show_label=False %}
        </div>
        <div class="col-md-2">
            {% bootstrap_field form.location_osm_type show_label=False %}
        </div>
    </div>

    <h5>📅 Date</h5>
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.date show_label=False %}
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">
            {% bootstrap_button button_type="submit" button_class="btn-primary" content="🚀 Create" %}
            {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %} #}
            <a class="btn btn-secondary" href="{% url 'pages:home' %}">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}

{% block modals %}
{% include "prices/_scan_product_modal.html" %}
{% include "prices/_search_location_modal.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
function checkOpenFoodFacts(productCode) {
    if (productCode.length === 13) {
        // TODO: API call to get product details
    }
}
document.addEventListener("DOMContentLoaded", function() {
    var productCodeInputElement = document.getElementById("id_product_code");
    productCodeInputElement.addEventListener("input", function () {
        console.log("Input value changed via UI. New value: '%s'", this.value);
        checkOpenFoodFacts(this.value);
    });
    observeElement(productCodeInputElement, "value", function (oldValue, newValue) {
        console.log("Input value changed via API. Value changed from '%s' to '%s'", oldValue, newValue);
        checkOpenFoodFacts(newValue);
    });
});
</script>
{% endblock %}
