{% extends "layouts/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1>Price: create form</h1>

    <form id="question_create_form" method="POST" action="">
        {% csrf_token %}

        <div class="row">
            <h2>Product details</h2>
            <div class="col-8">
                {% bootstrap_field form.product_code show_label=False %}
            </div>
            <div class="col-4">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scan_product_modal">Scan a barcode</a>
            </div>
        </div>
        <div class="row">
            <h2>Product price</h2>
            <div class="col-4">
                {% bootstrap_field form.price show_label=False %}
            </div>
            <div class="col-4">
                {% bootstrap_field form.currency show_label=False %}
            </div>
        </div>
        <div class="row">
            <h2>location</h2>
            <div class="col-8">
                {% bootstrap_field form.location show_label=False %}
            </div>
        </div>
        <div class="row">
            <h2>Date</h2>
            <div class="col-8">
                {% bootstrap_field form.date show_label=False %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% bootstrap_button button_type="submit" button_class="btn-primary" content="Create" %}
                {# {% bootstrap_button button_type="reset" button_class="btn-secondary" content=_("Cancel") %} #}
                <a class="btn btn-secondary" href="{% url 'pages:home' %}">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block modals %}
{% include "prices/_scan_product_modal.html" %}
{% endblock %}
