{% extends "layouts/base.html" %}

{% block title %}Home {{ block.super }}{% endblock %}

{% block content %}
<h1>Welcome to Open Prices!</h1>

<br />

<div class="card">
    <div class="card-body">
        <p class="card-text">
            <strong>A simple web app to add product prices</strong>
            <ol>
                <li>Scan the product barcode</li>
                <li>Add its current price</li>
                <li>We'll also need your location details (OpenStreetMap node)</li>
                <li>That's it!</li>
            </ol>
        </p>
    </div>
</div>

{% if price_count %}
    <br />
    <div class="alert alert-info mb-0" role="alert">
        Already {{ price_count }} price{{ price_count|pluralize }}!
    </div>
{% endif %}

<br />

<a href="{% url 'prices:create' %}" class="btn btn-primary">🚀 Start by adding a price</a>
{% endblock %}
